<div *ngIf="showSplash" class="splash">
  <div class="">
    <h1 class="ml1">
      <span class="text-wrapper">
        <span class="line line1"></span>
        <span class="letters">SHOPPING BUDDY</span>
        <span class="line line2"></span>
      </span>
    </h1>
  </div>
  <div class="spinner">
    <div class="double-bounce1"></div>
    <div class="double-bounce2"></div>
  </div>
</div>
<ion-split-pane when="(min-width: 500px)">
  <ion-menu [content]="content">
    <ion-header no-border class="menu-image-height">
      <ion-navbar no-border style="padding:0" class="menu-image-height">
        <img class="menu-image menu-image-height" src="assets/imgs/menu.jpg" />
      </ion-navbar>
    </ion-header>

    <ion-content>
      <div class="menu-content">
        <accordion>
          <ion-list no-lines>
            <button ion-item detail-none menuClose *ngFor="let category of categories" (click)="openPage(category)" [color]="isActive(category)?'light':null">
              <span ion-text [color]="isActive(category)?null:'text1'">{{category.categoryName}}</span>
            </button>
          </ion-list>
        </accordion>
        <ion-list no-lines>
          <ion-list-header>Personal</ion-list-header>
          <button ion-item detail-none menuClose [color]="'light'">
            <ion-icon item-left name="cart" [color]="'text2'"></ion-icon>
            <span ion-text [color]="'text1'">My Cart</span>
          </button>
          <button ion-item detail-none menuClose [color]="'light'">
            <ion-icon item-left name="cog" [color]="'text2'"></ion-icon>
            <span ion-text [color]="'text1'">Settings</span>
          </button>
        </ion-list>
      </div>

      <p class="powered-by" ion-text color="text3" (click)="poweredBy()">
        <ion-list no-lines>
          <button ion-item menuClose (click)="logout()">
            <ion-icon name="log-out" item-start color="primary"></ion-icon>
            Log Out
          </button>
        </ion-list>
        Powered by Dak Ent.
      </p>
    </ion-content>
  </ion-menu>
  <ion-nav [root]="rootPage" #content swipeBackEnabled="false" main></ion-nav>
</ion-split-pane>