page-products {
    ion-spinner * {
        margin: 100px auto;
        width: 28px;
        height: 28px;
        stroke: #488aff;
        fill: #488aff;
    }
    .item-profile {
        width: 100%;
        background-position: center center;
        background-size: cover;
        height: 115px;
    }
    ion-note {
        font-size: 12px;
        align-self: flex-start;
        margin-top: 14px;
    }
}